<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			* {box-sizing: border-box;}

			/* Create two equal columns that floats next to each other */
			.column {
	    	float: left;
	    	width: 25%;
	    	padding: 5px;
	    	/*height: 300px; Should be removed. Only for demonstration */
			}
			/* Clear floats after the columns */
			.row:after {
	    	content: "";
	    	display: table;
	    	clear: both;
			}
			</style>
  </head>
	<body>
		<div id="meta-mask-required"></div>
		<div id="network"></div>
		<div id="account"></div>
		<div id="is-connected"></div>
		<div id="web3-version"></div>
		<div id="coinbase"></div>
		<div id="current-gas-price"></div>
		<div id="web3-provider"></div>
		<br>
		<h2>ERC-20 token balances</h2>
		<div class="row">
 			<div class="column">
				<h3>Token Symbol</h3>
				<h4 id="symbols-loaded"></h4>
				<ul id="symbols_list"></ul>
			</div>
 			<div class="column">
				<h3>Using etherscan API</h3>
				<h4 id="balances-ethscan-loaded"></h4>
				<ul id="balances_by_ethscan"></ul>
			</div>
 			<div class="column">
				<h3>Using web3 plugin</h3>
				<h4 id="balances-web3-loaded"></h4>
				<ul id="balances_by_web3"></ul>
			</div>
 			<div class="column">
				<h3>Using Ox.js</h3>
				<h4 id="balances-0x-loaded"></h4>
				<ul id="balances_by_0x"></ul>
			</div>
		</div>
    <script type="text/javascript" src="index.min.js"></script>
    <script type="text/javascript" src="radar_relay.js"></script>
    <script type="text/javascript" src="ether_scan.js"></script>
    <script type="text/javascript" src="common_web3.js"></script>
    <script type="text/javascript" src="balances.js"></script>
	</body>
</html>
