<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daidex</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
  </head>
  <body>
    <header>
      <nav class="menu">
        <div class="logo">
          <img src="./images/logo.png" alt="logo" width="160" />
        </div>
        <ul class="items">
          <li class="item">
            <a href="#">Exchange</a>
          </li>
          <li class="item">
            <a href="#">How it works</a>
          </li>
          <li class="item">
            <a href="#">Terms & conditions</a>
          </li>
          <li class="header-accounts"><a href="javascript:void(0)" class="metamask"><span>0x5985...af02</span></a></li>
        </ul>
      </nav>
      <div class="container">
        <div class="row content">
          <div class="col description">
            <h1 class="title">Trade ERC20 tokens using your own wallet</h1>
            <p>Simple, fast and reliable solution to trade ERC-20 tokens across entire Ethereum network without risk</p>
            <div class="input">
              <input id="price" type="text" name="price" placeholder="amount to WRAP"/>
              <button class="btn blue" type="button">wrap</button>
            </div>
            <div class="input">
              <input id="price" type="text" name="price" placeholder="amount to UNWRAP"/>
              <button class="btn blue" type="button">unwrap</button>
            </div>
          </div>
          <div class="col form">
            <!--h4>Select a token pair:</h4-->
            <form class="" method="post">
              <!--div class="input">
              <label for="amount">Select token pair:</label>
              <input id="amount" type="text" name="amount" placeholder="token amount" />
            </div-->
            <div class="row input-inline">
              <div class="input col">
                <div class="custom-select" id="tokenAList">
                  <select id="token-select1" onchange="tokenSelected('token-select1');">
                    <option value="0">Select a token</option>
                  </select>
                </div>
                <div class="input">
                  <table>
                    <tr>
                      <td>
                        <label for="price" >Balance:</label>
                      </td>
                      <td>
                        <label for="price" id="balanceA">-</label>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="input">
                  <table>
                    <tr>
                      <td>
                        <label for="price">Trading availability:</label>
                      </td>
                      <td>
                        <label class="switch">
                          <input type="checkbox" class="checkbox" id="token-checkbox" onclick="modifyAllowence();" disabled>
                          <span class="slider round" id="token-span"></span>
                          <div class="loader" id="loader" hidden></div>
                        </label>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="input">
                  <input id="taker-amount" type="text" name="price" placeholder="amount to pay"/>
                </div>
              </div>
              <div class="input col">
                <div class="custom-select" id="tokenBList">
                  <select id="token-select2" onchange="tokenSelected('token-select2');">
                    <option value="0">Select a token</option>
                  </select>
                </div>
                <div class="input col">
                  <table>
                    <tr>
                      <td>
                        <label for="price">Balance:</label>
                      </td>
                      <td>
                        <label for="price" id="balanceB">-</label>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="input col">
                  <input id="maker-amount" type="text" name="price" placeholder="amount to receive"/>
                </div>
              </div>
            </div>
            <button type="button" class="btn blue" onclick="exchange();">Exchange</button>
          </form>
        </div>
      </div>
    </div>
    </header>
    <script type="text/javascript" src="js/index.min.js"></script>
    <script type="text/javascript" src="js/bignumber.min.js"></script>
    <script type="text/javascript" src="js/radarrelay.js"></script>
    <script type="text/javascript" src="js/select.js"></script>
    <script type="text/javascript" src="js/exchange.js"></script>
  </body>
</html>
