<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
  </style>
</head>
<body>
  <div id="meta-mask-required"></div>
  <h1>RadarRelay Orders. Base token: WETH</h1>
  <h3 id="msg"></h3>
  <div class="grid-container" id="orders"></div>
  <script type="text/javascript" src="js/radar_relay.js"></script>
  <script type="text/javascript" src="js/ether_scan.js"></script>
  <script type="text/javascript" src="js/index.min.js"></script>
  <script type="text/javascript" src="js/common_web3.js"></script>
  <script type="text/javascript" src="js/orderbook.js"></script>
</body>
</html>
