<!DOCTYPE html>
<html>
  <head>
    <style>
    * {box-sizing: border-box;}

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    </style>
  </head>
  <body>
    <div id="meta-mask-required"></div>
    <h2>RadarRelay Markets</h2>
    <div class="row">
 			<div class="column">
				<h3>WETH Markets</h3>
				<h4 id="weth-markets-loaded"></h4>
        <ul id="weth-markets-list"></ul>
			</div>
 			<div class="column">
				<h3>DAI Markets</h3>
				<h4 id="dai-markets-loaded"></h4>
        <ul id="dai-markets-list"></ul>
			</div>
		</div>

    <script src="js/radar_relay.js"></script>
    <script src="js/ether_scan.js"></script>
    <script src="js/common_web3.js"></script>
    <script src="js/token_pairs.js"></script>
  </body>
</html>
